In [32]:
import pandas as pd
import numpy as np
import os
import json

pd.set_option('display.max_columns', 500)

In [84]:
'''
-read in the 2.Indices_Target.csv file
-filter on the NA-s in the snapshot_target column
-get the unique target nums
'''

filename='2.Indices_Target.csv'
df=pd.read_csv(f'C:/Users/511232/Desktop/Scorecard_coxcomb/{filename}')

#filter out the dataframe where snapshot_target is NA
df_na=df[df['snapshot_target'].isna()].copy()

target_num_NA=set(df_na['Target_number'])

# #groupby coutries adn get the all the unique targets per country and put it in a dictionary
# country_target_NA_json=df_na.groupby(['CountryGroup']).apply(lambda x: set(x['Target_number'])).to_json()

# #write to a josn file
# with open('country_target_NA.json', 'w') as outfile:
#     outfile.write(country_target_NA_json)

In [85]:
'''
Code	Color
0	    Grey
1	    Red
2	    Yellow
3	    Green

-the scorecard.xlsx file, filter on color ('Color Scheme'=0) & ('Gap'=blank) & ('target' in target_num_NA)
-groupby ['geoareaname', 'target'] and apply a function that will take the average of 'Trend'
-and standardize the result of the average to be between [-10;+10]
formula=N= -10 + [(A+100)/10]

-generate coxcomb color using the following benchmarks:
if N is negative --> red, takes the value of 1
if N is postive but less or equal to 5.33 --> yellow, takes the value of 2
if N is greater than 5.33--> green, takes the value of 3"

'''

filename='scorecard.xlsx'
#read in the scorecard.xlsx
df=pd.read_excel('C:/Users/511232/Desktop/Scorecard_coxcomb/scorecard.xlsx')

#filter color scheme=0 & Gap=blank
df_filtered=df[(df['Color Scheme']==0) & (df['Gap'].isna()) & (df['target'].isin(target_num_NA))].copy()


def process(d):
    '''will calculate average trend and standardize the value'''
    trend_avg=d['Trend'].mean()
    trend_avg_standardized=-10+((trend_avg+100)/10)
    return(trend_avg_standardized)

In [90]:
d=pd.DataFrame({'a':[1,1,1,2,2,2], 'b':[1,1,2,2,3,3], 'v':[1,2,np.nan,4,5,np.nan]})

def f(x):
    v_avg=x['v'].mean()
    return(v_avg*1000)

d.groupby(['a','b']).apply(f)

a  b
1  1    1500.0
   2       NaN
2  2    4000.0
   3    5000.0
dtype: float64

In [ ]:
 
3

In [82]:
df_filtered[(df_filtered['geoareaname']=='Jordan') & (df_filtered['target']=='12.b')]

,geoareaname,goal,target,indicator,seriescode,timeperiod,value,Trend,goal_desc,seriesdescription,units,Color Scheme,Gap,dimensions,upperbound_condition,lowerbound_condition,direction
5819,Jordan,12,12.b,12.b.1,ST_EEV_ACCSEEA,2019,0.0,0.0,Responsible consumption and production,12.b.1 Implementation of standard accounting t...,NUMBER,0,NaN,--,NaN,NaN,1
5835,Jordan,12,12.b,12.b.1,ST_EEV_ACCTSA,2019,0.0,0.0,Responsible consumption and production,12.b.1 Implementation of standard accounting t...,NUMBER,0,NaN,--,NaN,NaN,1
5851,Jordan,12,12.b,12.b.1,ST_EEV_STDACCT,2019,0.0,0.0,Responsible consumption and production,12.b.1 Implementation of standard accounting t...,NUMBER,0,NaN,--,NaN,NaN,1